<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clima.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E1A67A72A0EB09100EDD6BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E27C4532A08D37400DE00A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E27C4692A08D37600DE00A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E27C4732A08D37600DE00A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
